<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <display-name>Mendix Rapid Apps</display-name>
  <description>
      Model driven rapid app platform that allow users to build,
      integrate and deploy web and mobile applications.
  </description>

</web-app>
